// Workflow details
manifest {
    
  author = ' Tracy Chew, Cali Willet, Nandan Deshpande, Sydney Informatics Hub, University of Sydney'
  name = 'Somatic-shortV-makePON-nf'
  description = 'GATK pipeline to create somatic Panel Of Normals (PoN)'
  homePage = 'https://github.com/Sydney-Informatics-Hub/Somatic-shortV-makePON-nf'
    }

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion     = '!>=20.07.1'

// Set default parameters
params {
  version                       = '1.0'
  help                          = false
  input                         = null
  ref                           = false
  intervals                     = false
  outDir		        	= './results'
  temp_dir                  = './temp_dir'


  // Intervals for 'Scatter-Gather'
  intervalList          = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n']
  intervalList_path = false

  
  
  gadi_account       	= false
  setonix_account     	= false
  whoami            	= false
}

params.common_biallelic_path = params.ref+'/gatk-best-practices/somatic-hg38/'+'small_exac_common_3.hg38.vcf.gz'


// Preset use of containers with Singularity
singularity {
    enabled		    = false
    autoMounts		= true
    }

// Job profiles
profiles {
  local		{ includeConfig "config/local.config" }
  nimbus	{ includeConfig "config/nimbus.config" }
  gadi		{ includeConfig "config/gadi.config" }
  setonix	{ includeConfig "config/setonix.config" }
}

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Resources for each process
// default run resource parameters
process {

withName: 'run_Mutect2_eachNormalSample_splitGatherApproach' {
        cpus = 1
        memory = '20.GB'
        container = 'quay.io/biocontainers/gatk4:4.1.4.1--0'
    }

    withName: 'GatherVcfs_step' {
        cpus = 1
        memory = '20.GB'
        container = 'quay.io/biocontainers/gatk4:4.1.4.1--0'
    }
 

    withName: 'Create_GenomicsDB_from_normalMutect2Calls_GenomicsDBImport' {
        cpus = 3
        memory = '60.GB'
        container = 'quay.io/biocontainers/gatk4:4.1.4.1--0'
    } 

    withName: 'Combine_normalCallsUsing_CreateSomaticPanelOfNormals' {
        cpus = 1
        memory = '20.GB'
        container = 'quay.io/biocontainers/gatk4:4.1.4.1--0'
    } 

  
}

// Define timestamp, to avoid overwriting existing trace
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// Produce a workflow diagram
dag {
  enabled = true
  file = "${params.outDir}/runInfo/SomaticShortV_dag_${timestamp}.svg"
}

report {
  enabled = true
  file = "${params.outDir}/runInfo/SomaticShortV_report_${timestamp}.html"
}

timeline {
  enabled = true
	overwrite = true
	file = "${params.outDir}/runInfo/SomaticShortV_timeline_${timestamp}.html"
}

trace {
	enabled = true
	overwrite = true
  file = "${params.outDir}/runInfo/SomaticShortV_trace_${timestamp}.txt"
  fields = 'process,name,status,queue,realtime,cpus,%cpu,memory,%mem,rss,env'
}
